<div class="conteiner">

  <div class="menuForm">
   <a>Home</a> <a>Profile</a>
  </div>

  <div class="halfHomeForm">

    Panel
    <div class="panelForm">

      <div class="panelOption">Cards to draw:</div>
      <input class="inputDrawForm" type="number" value="1" (input)="numberOfCards = $event.target.value" min="1" max="deck.remaining">
      <div class="panelOption">New Deck:</div>
      <label><input type="checkbox" name="checkbox" [(ngModel)]="isNewDeckChosen" (change)="isNextDeck()">Yes!</label>
      
      

      
      <div class="drawButton">
        <button (click)="drawCards()">Draw!</button>
      </div>


    </div>
  </div>
  <div class="halfHomeForm">
      Info

    <div class="remainingCards">
      Remaning Cards: {{remainingCard()}}
      
    </div>
    <div class="showCards">
      Cards drawn:
      <div *ngIf="deck && pile">
          <div *ngFor="let card of drawnCards">
            <img class="card-photo" src="{{card.image}}">
         </div>
      </div>
    </div>
  </div>
</div>