<div class="container">

  <div class="menu">
    Home Profile
  </div>
  <div class="panel">
    Panel
    <div>
      <span class="panel__elements">Cards to draw:</span>
      <div>
        <input type="number" (input)="numberOfCards = $event.target.value" min="1" max="currentDeck.remaining">
      </div>

      <div class="drawButton">
        <button (click)="drawCards()">Draw!</button>
      </div>

    </div>
  </div>
  <div class="panel">
    Info

    <div>
      <div *ngIf="currentDeck && currentPile">
          <div *ngFor="let card of drawnCards">
            <img class="panel__card__photo" src="{{card.image}}">
         </div>
      </div>
    </div>
  </div>
</div>