<div class="conteiner">

  <div class="menuForm">
    Home Profile
  </div>

  <div class="halfHomeForm">

    Panel
    <div class="panelForm">

      Cards to draw:
      <div class="inputDrawForm">
        <input type="number" (input)="numberOfCards = $event.target.value" min="1" max="deck.remaining">
      </div>

      <div class="drawButton">
        <button (click)="drawCards()">Draw!</button>
      </div>

    </div>
  </div>
  <div class="halfHomeForm">
    Info

    <div class="showCards">
      <div *ngIf="deck && pile">
          <div *ngFor="let card of drawnCards">
            <img class="card-photo" src="{{card.image}}">
         </div>
      </div>
    </div>
  </div>
</div>