.container{
    display: grid;
    grid-template-columns: 50% auto;
}

.home__content__element{
    padding: 1em 1em 2em;
    font-size: 30px;
    background: #535e0e;
}


.panel__element{
    height: 30px;
}
.new__deck{
    float: right;
    font-size: 18px;
}

.input__draw__form{
    text-align: right;
    float: right;
    width: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 30px;
    border-radius: 20px;
}
.panel__card__photo{
    width: 65px;
    float: left;
}
.panel__elements{
    padding: 20px;
    font-size: 18px;
}

.draw__button{
    position: relative;
    left: 40%;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    width: 100px;

}

.drawn__element{
    font-size: 18px;
    text-align: center;
}