<div class="container">
  <div class="home__content">
    <div class="home__content__element">
      <span class="panel__title">Panel</span>
      <div class="panel__element">
        <span class="panel__elements">Cards to draw:</span>
      </div>
      <div class="panel__element">
        <input class="input__draw__form" type="number" id="lol"  (input)="onInput($event.target.value)" min="0" max="deck.remaining" (keyup.enter)="drawCards()">
      </div>
      <div class="panel__element">
        <span class="panel__elements">New Deck:</span>
      </div>
      <div class="panel__element">
        <span class="new__deck"><input type="checkbox" name="checkbox" [(ngModel)]="isNewDeckChosen" (change)="isCheck()">Yes! </span> 
      </div>
      <div class="panel__element">
        <button *ngIf="buttonDisabled; else enabled" disabled class="draw__button" (click)="drawCards()">Draw!</button> 
        <ng-template #enabled><button class="draw__button" (click)="drawCards()">Draw!</button></ng-template>
      </div>
      <div>
        {{error}}
      </div>
    </div>
  </div>
  <div class="home__content__element">
    <span class="drawn__title">Info</span>
    <div class="drawn__element">
      Remaining Cards: {{ getRemainingCardsNumber() }}
    </div>
    <div class="drawn__element">
      Cards drawn:
      <div *ngFor="let card of drawnCards">
        <img class="panel__card__photo" src="{{card.image}}">
      </div>
    </div>
  </div>

</div>